<mat-card>

  <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  <form [formGroup]="form"  (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        placeholder="Post Title"
        type="text"
        formControlName="title"
        name="title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Title is required</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="pickedImage.click()">Pick Image</button>
      <input type="file" #pickedImage (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
        name="content"
        matInput
        placeholder="Post Content"
        formControlName="content"



      ></textarea>
      <mat-error *ngIf=" form.get('content').invalid"
        >Content is required</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent">Save Post</button>
  </form>
</mat-card>
